{% extends '::base.html.twig' %}

{% block meta %}

    <title>{{ "COCAR"|trans }}</title>
    <meta name="description" content="{{ 'COCAR - Configurador e Coletor de Ativos de Rede'|trans }}">
    <meta name="ahoekie" content="CACIC BackEnd">

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
		'bundles/cocar/css/*'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
