/* General CSS */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Geral */

a {
    color: #0596ea;
}
a:hover {
    color: #666;
    }

.clear {clear: both;}

body {
    font-family: verdana;
    color: #666;
}

.main {
    width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.main-container {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
}

.menu {
    text-align: center;
}
    .menu ul {
        padding-left: 0;
    }
        .menu ul li {
            list-style: none;
            width: 78px;
            display: inline-block;
            padding-left: 0;
            margin-right: 20px;
        }
            .menu ul li a {
                color: #0596ea;
                text-decoration: none;
            }
                .menu ul li a:hover {
                    color: #ccc;
                }
                .menu ul li a span {
                    display: block;
                    text-align: center;
                    margin-top: 5px;
                }

.search-box {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
    .search-box .caixa {
        padding: 10px;
        width: 200px;
        margin-bottom: 5px;
        border:1px solid #eee;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

    }
    .search-box span {
        display: block;
        color: #ccc;
        font-size: 10px;
    }
    .search-box input[type=button] {
        border:1px solid #ccc;
        background: #eee;
        border-radius: 5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        padding: 10px 15px;
        cursor: pointer;
    }
        .search-box input[type=button]:hover {
            border:1px solid #0596ea;
            background: #0596ea;
            color: #fff;
        }

.noresult {
    color: #0596ea;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Result search */
.container-box {
    margin: 0 auto;
    width: 550px;
    margin-bottom: 10px;
}
    .container-box  .top-title {
        background: #0596ea;
        color: #fff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 15px;
    }
    .container-box .content {
        background: #eee;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        min-height: 50px;
    }
        .container-box .content .box-result {
            float: left;
            width: 180px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .container-box .content .box-result span {
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
        }
        .container-box .content .box-result .value {
            font-size: 16px;
            display: block;
        }

.container-results {
    text-align: center;
}

.container-box-results {
    margin: 0 auto;
    width: 150px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 20px;
    display: inline-block;
}
    .container-box-results  .top-title {
        background: #ccc;
        color: #333;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 10px 15px;
    }
        .container-box-results  .top-title h3 {
            font-size: 14px;
        }
    .container-box-results .content {
        background: #eee;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        min-height: 50px;
        padding: 10px;
    }
        .container-box-results .content a {
            color: #666;
            text-decoration: none;
        }
        .container-box-results .content a:hover {
            color: #0596ea;
        }

/* Entity */
.general-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.records_list {
    width: 100%;
}
    .records_list thead {
        background: #0596ea;
        color: #fff;
    }
    .records_list th, .records_list td {
        padding: 10px;
    }
    .records_list tbody td {
        background: #eee;
        text-align: center;
    }
    .records_list tbody tr {
        border-bottom: 1px solid #fff;
    }
        .records_list tbody tr td a {
            color: #0596ea;
        }
        .records_list tbody tr td a:hover {
            color: #666;
        }

    .records_list tbody tr td li {
        display: inline-block;
    }
        .records_list tbody tr td li a {
            color: #666;
            font-size: 12px;
        }
        .records_list tbody tr td li a:hover {
            color: #0596ea;
        }

ul.button {
    margin-top: 60px;
    text-align: center;
}
ul.button li a {
    padding: 15px 25px;
    background: #0596ea;
    color: #fff;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    text-decoration: none;
}
ul.button li a:hover {
    background: #eee;
    color: #666;
}

button[type=submit] {
    padding: 15px 25px;
    background: #0596ea;
    color: #fff;
    border:0px;
    font-size: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

button[type=submit]:hover {
    background: #eee;
    color: #666;
}

.records_list .item-form {
    margin-bottom: 15px;
}

.records_list label {
    display: block;
    margin-bottom: 5px;
}

.records_list input[type=text] {
    padding: 10px;
    width: 200px;
    margin-bottom: 5px;
    border:1px solid #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.records_list textarea {
    padding: 10px;
    width: 300px;
    height: 70px;
    margin-bottom: 5px;
    border:1px solid #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.record_actions {
    margin-top: 10px;
    float: right;
}

.record_actions li {
    display: inline-block;
}

.record_actions li a {
    padding: 5px 10px;
    background: #0596ea;
    color: #fff;
    font-size: 12px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    text-decoration: none;
}
.button li a:hover {
    background: #eee;
    color: #666;
}

.record_actions .deletar {
    padding: 5px 10px;
    background: #eee;
    color: #666;
    border:0px;
    font-size: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.record_actions .deletar:hover {
    background: #0596ea;
    color: #fff;
}

.bodyView th {
    text-align: right;
}

.bodyView td {
    text-align: left !important;
    background: #fff !important;
}

.bodyView-2 th {
    text-align: right;
}

p.description {
    margin-bottom: 25px;
    background: #FFFFF0;
    padding: 20px 10px;
}

#cocar_cocarbundle_circuitstype_typeInterface label {
    display: inline !important;
}

/* REPORTS */
.container_form {
    text-align: center;
}
    .container_form button {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

#form_choice {
    overflow: hidden;
    background: url(../images/down.png) no-repeat right #fff;
    width: 170px;
    display: inline-block;
}

#form_choice select {
    padding: 10px;
    margin-bottom: 5px;
    width: 170px;
    border:1px solid #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-appearance: none;
    background: transparent;
}

.report-ico {
    float: left;
    margin-bottom: 15px;
    display: block;
    margin-right: 10px;
}

.title-table {
    font-size: 22px;
}